# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

launch.app/Contents/Info.plist

launch.app/Contents/MacOS/launch

launch.app/Contents/PkgInfo

launch.app/Contents/Resources/empty.lproj

launch.app/Contents/Resources/launch.rc

ui_installwizard_copy.h

ui_installwizard_eula.h

ui_installwizard_patch.h

ui_installwizard_finished.h

ui_installwizard_setup.h

ui_installwizard.h

ui_mainwindow.h
